flake8
flake8-debugger
flake8-coding
hacking
pep8
pep8-naming
radon
xenon
{% if cookiecutter.min_python != "3.3" -%}
mock
{% endif -%}
{% if cookiecutter.test_runner == "py.test" -%}
pytest
pytest-cov
{% elif cookiecutter.test_runner == "unittest" and cookiecutter.min_python == "2.6" -%}
unittest2
{% endif -%}
